---
layout: default
---
<div id="home" class="grid post">
<div class="unit whole">
<article>
	<header>
		<h1>{{ page.title }}</h1>
		<p class="meta">
			<time class="timeago postlist-meta" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%B %-d, %Y" }}</time>
			<a href="#" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+window.location.href,'_blank','height=300,width=600');return false;">
				<img src="/assets/facebook.png" alt="Share on Facebook">
			</a>
			{% if site.owner.twitter %}
				<a href="#" target="_blank" onclick="window.open('https://twitter.com/share?url='+window.location.href+'&via={{ site.owner.twitter }}','_blank','height=300,width=600');return false;">
					<img src="/assets/twitter.png" alt="Share on Twitter">
				</a>
			{% else %}
				<a href="#" target="_blank" onclick="window.open('https://twitter.com/share?url='+window.location.href,'_blank','height=300,width=600');return false;">
					<img src="/assets/twitter.png" alt="Share on Twitter">
				</a>
			{% endif %}
		</p>
	</header>
	<section>
		{{ content }}
	</section>
	<footer>
		{% if site.disqus %}
			{% include disqus.html %}
		{% endif %}
	</footer>
</article>
</div>
</div>